<!DOCTYPE html>
<html>
<head>
  <title>Header</title>
  <link rel="stylesheet" href="/css/style.css">
  
</head>
<body>
  <header class="header_class">
    <div class="flex-container">  
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/07/Logo_of_the_United_States_Marine_Forces_Space_Command.png" alt="Logo">
      <nav class="navbar">
        <a href="/home">Home</a>
        <a href="/api/personnel/new">Personnel</a>
        <a href="/api/ships/new">Ships</a>
        <a href="/api/missions/new">Missions</a>
      </nav>
    </div>

  </header>

